/* Header and Navigation------------------------------------------------------------------------- */
.header {
  padding: 0rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ebebeb;
  height: 9.6rem;
  background-color: #222;
}

/* .sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
  background-color: #111;
} */

.nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  color: #ebebeb;
  font-size: 1.8rem;
  text-decoration: none;
}

.name-logo {
  color: #4dabf7;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.nav-link.contact-link:visited,
.nav-link.contact-link:link {
  padding: 1rem 2.4rem;
  background-color: #1971c2;
  border-radius: 9px;
  color: #fff;
}

/* About Section ------------------------------------------------------------------------- */
.about-section {
  padding: 4.8rem 9.6rem 9.6rem 9.6rem;
  background-color: #222;
}

.text-box {
  align-self: center;
}

.designation {
  font-size: 3.8rem;
  line-height: 1.1;
  letter-spacing: -1px;
  text-shadow: 0 0 5px #1971c2;
}

.about-text {
  margin-bottom: 3.2rem;
  font-size: 18px;
  line-height: 1.7;
  color: #bbb;
}
.profile-img {
  width: 100%;
  border-radius: 1000px;
  box-shadow: 0 0 20px #111;
}

.btn-download {
  background-color: #1971c2;
  padding: 2rem 4rem;
  width: 50%;
  text-transform: uppercase;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4.8rem;
}

.download-resume-link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
}

.download-icon {
  font-size: 2.4rem;
  color: #fff;
}

/* Skills Section ------------------------------------------------------------------------- */

.skill-title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  color: #4dabf7;
}

.skill-text {
  font-size: 18px;
  line-height: 1.7;
  color: #bbb;
}

.skill-image {
  width: 90%;
  border-radius: 20px;
  margin-bottom: 3.2rem;
  overflow: hidden;
  transition: all 0.3s;
}

.skill:hover .skill-image {
  transform: scale(1.2);
}
