/* Header and Navigation------------------------------------------------------------------------- */
.header {
  padding: 0rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ebebeb;
  height: 9.6rem;
  background-color: #222;
}

/* Sticky Navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9.2rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  background-color: rgba(1, 1, 1, 0.95);
}

.sticky .about-section {
  margin-top: 9.6rem;
}

/* Navigation--------------------------------------------- */
.name-logo {
  color: #4dabf7;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-shadow: 0 0 7px #1971c2;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  color: #bbb;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #4dabf7;
  width: 0%;
  height: 3px;
  bottom: -10px;
  left: 0;
  border-radius: 100px;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #ebebeb;
}

.nav-link:hover:after {
  width: 100%;
}

.contact-link:visited,
.contact-link:link {
  padding: 1rem 2.4rem;
  background-color: #1971c2;
  border-radius: 9px;
  color: #fff;
  transition: all 0.3s;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.contact-link:hover {
  letter-spacing: 1.25px;
  background-color: #339af0;
}
/* About Section ------------------------------------------------------------------------- */
.about-section {
  padding: 4.8rem 9.6rem 9.6rem 9.6rem;
  /* background: linear-gradient(#222, #111); */
  background-color: #222;
  position: relative;
  overflow: hidden;
}

/* Blob designs--------------------------------- */
.blob-1 {
  width: 250px;
  height: 250px;
  border: 40px solid #a5d8ff;
  border-radius: 56% 44% 29% 71% / 60% 66% 34% 40%;
  top: -20%;
  left: -5%;
}

.blob-2 {
  width: 500px;
  height: 500px;
  border-radius: 56% 44% 29% 71% / 60% 66% 34% 40%;
  /* background-color: #1971c2; */
  border: 35px solid #a5d8ff;
  top: 30%;
  left: 90%;
}

.blob {
  animation: rotateBlob 10s infinite linear;
}

@keyframes rotateBlob {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About Contents----------------------------------- */

.text-box {
  align-self: center;
}

.designation {
  font-size: 3.8rem;
  line-height: 1.1;
  letter-spacing: -1px;
  background: linear-gradient(to right, #228be6, #a5d8ff, #4dabf7, #1971c2);
  color: transparent;
  background-clip: text;
}

.about-text {
  margin-bottom: 3.2rem;
  font-size: 18px;
  line-height: 1.7;
  color: #bbb;
}

.profile-img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.4s;
}

.profile-img:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
}

.link-contents {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.btn-download {
  background-color: #1971c2;
  padding: 2rem 4rem;
  width: 50%;
  text-transform: uppercase;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  transition: all 0.3s;
}

.btn-download:hover {
  letter-spacing: 1.25px;
  background-color: #339af0;
}

.download-resume-link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
}

.download-icon {
  font-size: 2.4rem;
  color: #fff;
}

.other:visited,
.other:link {
  font-size: 3.6rem;
  text-decoration: none;
  color: #4dabf7;
  transition: all 0.3s;
}

.other:hover {
  font-size: 3.8rem;
  color: #ebebeb;
}

/* Skills Section ------------------------------------------------------------------------- */

.skill-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skill-image {
  width: 80%;
  margin-bottom: 3.2rem;
  overflow: hidden;
  transition: all 0.3s;
}

.skill:hover .skill-image {
  margin-bottom: 4.2rem;
  transform: scale(1.2);
  /* width: 100%; */
}

.skill-title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  color: #4dabf7;
  transition: all 0.3s;
}

.skill-text {
  font-size: 18px;
  line-height: 1.7;
  color: #bbb;
  transition: all 0.3s;
}

.skill:hover .skill-title {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.skill:hover .skill-text {
  color: #ebebeb;
}

/* TechStack Section ------------------------------------------------------------------------- */

.tech-text {
  color: #bbb;
  letter-spacing: 3px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 4.8rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.tech-aside {
  padding-bottom: 9.6rem;
}

.tech {
  width: 12rem;
  background-color: #222;
  padding: 2.4rem;
  border-radius: 30px;
  transition: all 0.4s;
  filter: grayscale(0.3);
}

.tech:hover {
  filter: grayscale(0);
  transform: translateY(-1.2rem);
  box-shadow: 0 0 30px #1971c2;
}

.tech-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
